.footer {
  background-color: transparent !important;
  padding: 20px;
  text-align: center;
  z-index: 5;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #333;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}
