@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  a {
    text-decoration: none;
    color: rgb(97, 97, 97);
  }

  li {
    list-style: none;
  }
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

@layer components {
  .btns {
    @apply px-2 py-5 mr-[6px] bg-transparent border cursor-pointer;
  }
  .recommended-title {
    @apply ml-5 mb-5 mt-5 text-xl;
  }
  .recommended-flex {
    @apply flex ml-5;
  }
}
